In [2]:
from sklearn.feature_selection import SequentialFeatureSelector
from datasets import load_titanic, balance_classes
from tools import model_performance, confusion_matrix
import pandas as pd
import numpy as np
from sklearn.metrics import plot_roc_curve
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder, StandardScaler

from sklearn.metrics import classification_report, plot_roc_curve

In [3]:
df_train, df_test = load_titanic()
df_train.columns

Index(['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare',
       'cabin', 'embarked', 'target'],
      dtype='object')

In [4]:
df_train.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,target
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [5]:
train_X = df_train.drop(['name', 'target', 'ticket','cabin'], axis=1)
train_y = df_train['target']
test_X = df_test.drop(['name', 'target', 'ticket','cabin'], axis=1)
test_y = df_test['target']

In [6]:
train_X = pd.get_dummies(train_X)
test_X = pd.get_dummies(test_X)

features = train_X.columns

In [7]:
# kvuli konvergenci
scaler = StandardScaler().fit(train_X)
train_X = scaler.transform(train_X)
test_X = scaler.transform(test_X)

In [8]:
model = LogisticRegression()

In [9]:
selection_forward = SequentialFeatureSelector(model, n_features_to_select=3,
                                        direction='forward').fit(train_X, train_y)

In [11]:
# to je zajimave, dle koeficientu sibsp neni tak podstatne
selected_features = features[selection_forward.get_support()]
selected_features

Index(['pclass', 'sibsp', 'sex_female'], dtype='object')

In [12]:
selection_backward = SequentialFeatureSelector(model, n_features_to_select=3,
                                        direction='backward').fit(train_X, train_y)

In [13]:
# uplne jiny vysledek
selected_features = features[selection_backward.get_support()]
selected_features

Index(['sibsp', 'sex_male', 'embarked_S'], dtype='object')