In [1]:
from datasets import load_titanic
import pandas as pd

In [2]:
df, df_train, df_test = load_titanic()
df_train.columns

Index(['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'target'], dtype='object')

In [ ]:
# target - 1 = survived, 0 = died
# pclass - ticket class (1,2,3)
# sex - male/female
# age
# sibsp - number of siblings aboard
# parch - number of parents aboard
# fare - passenger fare (jizdne)
# embarked - C = Cherbourg, Q = Queenstown, S = Southampton

In [3]:
df.describe(include='all')

,pclass,sex,age,sibsp,parch,fare,embarked,target
count,891.000000,891,891.000000,891.000000,891.000000,891.000000,891,891.000000
unique,NaN,2,NaN,NaN,NaN,NaN,3,NaN
top,NaN,male,NaN,NaN,NaN,NaN,S,NaN
freq,NaN,577,NaN,NaN,NaN,NaN,646,NaN
mean,2.308642,NaN,29.361582,0.523008,0.381594,32.204208,NaN,0.383838
std,0.836071,NaN,13.019697,1.102743,0.806057,49.693429,NaN,0.486592
min,1.000000,NaN,0.420000,0.000000,0.000000,0.000000,NaN,0.000000
25%,2.000000,NaN,22.000000,0.000000,0.000000,7.910400,NaN,0.000000
50%,3.000000,NaN,28.000000,0.000000,0.000000,14.454200,NaN,0.000000
75%,3.000000,NaN,35.000000,1.000000,0.000000,31.000000,NaN,1.000000
max,3.000000,NaN,80.000000,8.000000,6.000000,512.329200,NaN,1.000000

In [4]:
f"survived: {df['target'][df['target'] == 1].count()} died: {df['target'][df['target'] == 0].count()}"

'survived: 342 died: 549'

In [5]:
f"survived: {df_train['target'][df_train['target'] == 1].count()} died: {df_train['target'][df_train['target'] == 0].count()}"

'survived: 239 died: 384'

In [6]:
f"survived: {df_test['target'][df_test['target'] == 1].count()} died: {df_test['target'][df_test['target'] == 0].count()}"

'survived: 103 died: 165'