In [1]:
from datasets import titanic_data
import pandas as pd

In [2]:
original_X, original_y, train_X, train_y, test_X, test_y = titanic_data()

In [ ]:
# target - 1 = survived, 0 = died
# pclass - ticket class (1,2,3)
# sex - male/female
# age
# sibsp - number of siblings aboard
# parch - number of parents aboard
# fare - passenger fare (jizdne)
# embarked - C = Cherbourg, Q = Queenstown, S = Southampton

In [5]:
f"survived: {original_y[original_y == 1].count()} died: {original_y[original_y == 0].count()}"

'survived: 342 died: 549'