In [6]:
from datasets import load_titanic
import pandas as pd

In [7]:
df_train, df_test = load_titanic()
df_train.columns

Index(['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare',
       'cabin', 'embarked', 'target'],
      dtype='object')

In [5]:
df_train.describe(include='all')

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,target
count,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889,891.000000
unique,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3,NaN
top,NaN,"Ford, Miss. Doolina Margaret ""Daisy""",male,NaN,NaN,NaN,1601,NaN,G6,S,NaN
freq,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644,NaN
mean,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN,0.383838
std,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN,0.486592
min,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000
25%,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN,0.000000
50%,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN,0.000000
75%,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN,1.000000
max,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN,1.000000