In [1]:
import seaborn as sns
from datasets import load_tips
import pandas as pd

In [2]:
train, test = load_tips()
train.head()

,total_bill,sex,smoker,size,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch,target
77,27.20,0,0,4,0,0,0,1,0,1,4.00
181,23.33,0,1,2,0,0,1,0,1,0,5.65
37,16.93,1,0,3,0,1,0,0,1,0,3.07
118,12.43,1,0,2,0,0,0,1,0,1,1.80
99,12.46,0,0,2,1,0,0,0,1,0,1.50