In [1]:
from datasets import load_happines
from sklearn.linear_model import Ridge
from tools import *
from sklearn.model_selection import cross_val_score

In [2]:
df_train, df_test = load_happines()
df_train.columns

Index(['region', 'economy', 'family', 'health', 'freedom', 'trust',
       'generosity', 'target'],
      dtype='object')

In [3]:
train_X = df_train.drop(['region', 'target'], axis=1)
train_y = df_train['target']
test_X = df_test.drop(['region', 'target'], axis=1)
test_y = df_test['target']

In [4]:
train_X.shape

(158, 6)

In [13]:
model = Ridge()
cross_val_score(model, train_X, train_y, cv=2, scoring='r2')

array([-2.02260708, -3.151745  ])

In [6]:
model = Ridge()
model = model.fit(train_X, train_y)

In [7]:
model_performance(model, train_X, train_y, test_X, test_y)

Train score
0.7750514894103798
Test score
0.7141232764010649

In [13]:
coef_table(model.coef_, train_X.columns)

      feature      coef
1      family  1.318980
3     freedom  1.111586
0     economy  0.958368
2      health  0.872974
4       trust  0.630846
5  generosity  0.407774

In [14]:
# selected features by forward/backward selection
selected_features = ['economy', 'family', 'freedom']

In [15]:
model = Ridge()
model = model.fit(train_X[selected_features], train_y)

In [16]:
model_performance(model, train_X[selected_features], train_y, test_X[selected_features], test_y)

Train score
0.7517681033232317
Test score
0.7206566526154529

In [18]:
coef_table(model.coef_, selected_features)

   feature      coef
2  freedom  1.479952
0  economy  1.385390
1   family  1.315779