In [6]:
from datasets import load_happines
import pandas as pd

In [2]:
df_train, df_test = load_happines()
df_train.columns

Index(['region', 'economy', 'family', 'health', 'freedom', 'trust',
       'generosity', 'target'],
      dtype='object')

In [10]:
train_X = df_train.drop(['region', 'target'], axis=1)
train_y = df_train['target']
test_X = df_test.drop(['region', 'target'], axis=1)
test_y = df_test['target']

In [13]:
train_X_cut, bins = pd.cut(train_X['freedom'], 4, retbins=True)

In [16]:
df_steps = pd.concat([train_X['freedom'], train_X_cut, train_y], keys = ['freedom','freedom_cuts','target'], axis = 1)

In [17]:
df_steps

             freedom       freedom_cuts  target
country
Togo         0.36453     (0.335, 0.502]   2.839
Burundi      0.11850  (-0.00067, 0.167]   2.905
Syria        0.15684  (-0.00067, 0.167]   3.006
Benin        0.48450     (0.335, 0.502]   3.340
Rwanda       0.59201      (0.502, 0.67]   3.465
...              ...                ...     ...
Canada       0.63297      (0.502, 0.67]   7.427
Norway       0.66973      (0.502, 0.67]   7.522
Denmark      0.64938      (0.502, 0.67]   7.527
Iceland      0.62877      (0.502, 0.67]   7.561
Switzerland  0.66557      (0.502, 0.67]   7.587

[158 rows x 3 columns]